body {
   background-image: url('body1.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
 }
 
canvas { background: pink; }
#myCanvas{
   position: relative;
   left:23vw;
   top:15vh; 
   border: 1px solid black;
      background-image: url("canvasbg.png");
      background-size: cover; /* Optional */
    
        
}
